OCI_TENANCY_OCID=
OCI_USER_OCID=
OCI_FINGERPRINT=
OCI_PRIVATE_KEY_PATH=
OCI_REGION=
OCI_COMPARTMENT_OCID=
OCI_SUBNET_OCID=
OCI_AVAILABILITY_DOMAIN=
OCI_IMAGE_OCID=
OCI_SHAPE=VM.Standard.A1.Flex
OCI_OCPUS=4
OCI_MEMORY_GB=24
CHECK_INTERVAL_MINUTES=5
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=-1003796038911
SEND_TELEGRAM_ALERTS=true
AUTO_CREATE_INSTANCE=false
ENABLE_LOGS=true
ENABLE_REPORTS=true
