[Unit]
Description=Oracle VPS health monitor

[Timer]
OnCalendar=*-*-* *:0/30:00 America/Sao_Paulo
Persistent=true
RandomizedDelaySec=0
Unit=oracle-capacity-hunter.service

[Install]
WantedBy=timers.target
